<app-nav></app-nav>
<div><br/></div>
<div class="container">
<table class="table ">
  <thead class="thead-dark">
    <th>Name</th>
    <th>Position</th>
    <th>Username</th>
    <th>Password</th>
    <th>Mobile</th>
    <th></th>
  </thead>
  <tbody>
    <tr *ngFor="let emp of list">
      <td (click)="onEdit(emp)">{{emp.empCode}} - {{emp.fullName}}</td>
      <td (click)="onEdit(emp)">{{emp.position}}</td>
      <td (click)="onEdit(emp)">{{emp.username}}</td>
      <td (click)="onEdit(emp)">{{emp.password}}</td>
      <td (click)="onEdit(emp)">{{emp.mobile}}</td>
      <td><a class="btn text-danger" (click)="onDelete(emp.id)"><i class="fa fa-trash"></i></a></td>
    </tr>
  </tbody>
</table>
</div>
<br>
<div calss="container">
  <div >
    <div [hidden]="!status">
     <app-employee [status]="'true'" (newItemEvent)="addItem($event)" ></app-employee>
    </div>
  </div>
</div> 